<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Register a new location | Sudsy</title>
  </head>
  <body>
    <article class="container">
      <header class="header">
        <h1>Register a new location</h1>
        <div class="steps">
          <button class="step done">
            <img src="./assets/check.svg" alt="Check" />
          </button>
          <div class="step-divider"></div>
          <button class="step done">2</button>
          <div class="step-divider"></div>
          <button class="step current">3</button>
          <div class="step-divider dashed"></div>
          <button class="step" disabled>4</button>
        </div>

        <button class="fullscreen-btn">
          <img src="./assets/maximize.svg" alt="Maximize" />
        </button>
      </header>

      <main class="main">
        <div class="input-row">
          <div class="input-group">
            <label for="input-1">Input</label>
            <input type="text" id="input-1" placeholder="Input placeholder" />
          </div>

          <div class="input-group">
            <label for="input-2">Input Error</label>
            <input type="text" id="input-2" class="error" />
            <span class="input-error">This field is required</span>
          </div>
        </div>

        <div class="input-group">
          <label for="textarea">Textarea</label>
          <textarea id="textarea" rows="5"></textarea>
        </div>

        <h2>Subtitle inside the form</h2>

        <div class="input-group">
          <label for="select">Test select</label>
          <select id="select">
            <option value="1">Value 1</option>
            <option value="2">Value 2</option>
          </select>
        </div>

        <hr />

        <label class="cnr-label">
          <input type="checkbox" />
          <span>Checkbox 1</span>
        </label>

        <label class="cnr-label">
          <input type="checkbox" />
          <span>Checkbox with long label</span>
        </label>

        <h3>H3 inside the form</h3>
        <div class="input-row">
          <label class="cnr-label">
            <input type="radio" name="radio-test" checked />
            <span>Radio</span>
          </label>
          <label class="cnr-label">
            <input type="radio" name="radio-test" />
            <span>Radio with long label</span>
          </label>
        </div>

        <hr />

        <div class="dnd-row">
          <div class="grid-item washer">
            <img src="./assets/washing-machine.svg" alt="Washing Machine" />
            <span>Washer (11 kg)</span>
          </div>
          <div class="grid-item dryer">
            <img src="./assets/washing-machine.svg" alt="Drying Machine" />
            <span>Dryer (25 kg)</span>
          </div>
          <div class="grid-item">
            <img src="./assets/armchair.svg" alt="Waiting Area" />
            <span>Waiting Area</span>
          </div>
          <div class="grid-item">
            <img src="./assets/space.svg" alt="Folding Tables" />
            <span>Folding Table</span>
          </div>
        </div>

        <div class="grid">
          <div class="grid-item empty"></div>
          <div class="grid-item wall">
            <span>Wall</span>
          </div>
          <div class="grid-item washer">
            <img src="./assets/washing-machine.svg" alt="Washing Machine" />
            <span>Washer (11 kg)</span>
          </div>
          <div class="grid-item dryer">
            <img src="./assets/washing-machine.svg" alt="Drying Machine" />
            <span>Dryer (25 kg)</span>
          </div>
          <div class="grid-item dryer">
            <img src="./assets/washing-machine.svg" alt="Drying Machine" />
            <span>Dryer (25 kg)</span>
          </div>
          <div class="grid-item entrance"></div>
          <div class="grid-item empty"></div>
          <div class="grid-item empty"></div>
          <div class="grid-item empty"></div>
          <div class="grid-item empty"></div>
          <div class="grid-item empty"></div>
          <div class="grid-item empty"></div>
          <div class="grid-item empty"></div>
          <div class="grid-item empty"></div>
          <div class="grid-item empty"></div>
          <div class="grid-item empty"></div>
          <div class="grid-item empty"></div>
          <div class="grid-item empty"></div>
          <div class="grid-item empty"></div>
          <div class="grid-item empty"></div>
          <div class="grid-item empty"></div>
          <div class="grid-item empty"></div>
          <div class="grid-item empty"></div>
          <div class="grid-item empty"></div>
          <div class="grid-item empty"></div>
          <div class="grid-item empty"></div>
          <div class="grid-item empty"></div>
          <div class="grid-item empty"></div>
          <div class="grid-item empty"></div>
          <div class="grid-item empty"></div>
        </div>

        <hr />

        <div class="alert">
          <img src="./assets/alert.svg" alt="Alert" />
          <span>This is an error message.</span>
        </div>
      </main>

      <footer class="footer">
        <button class="btn" disabled>Back</button>
        <button class="btn">Next</button>
      </footer>
    </article>
  </body>
</html>
