#download {
  background-color: var(--bg-dark);
  color: var(--text-light);

  min-height: 40rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0 10rem;
}

#download h3 {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: var(--bg-primary);
}

#download h2 {
  font-size: 2.5rem;
}

#download p {
  width: 50%;
  font-size: 1.2rem;
  line-height: 2rem;
  color: var(--text-light-secondary);
}

#download .button-group {
  margin-top: 3rem;
}

#download > img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 48%;
  height: 85%;
  object-fit: cover;
  object-position: left;
  border-top-left-radius: 3rem;
  border-top: 0.5rem solid var(--border);
  border-left: 0.5rem solid var(--border);
}

@media (max-width: 64rem) {
  #download {
    text-align: center;
    align-items: center;
  }
  #download img {
    width: 100%;
  }
  #download > img {
    position: static;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    border: 0.2rem solid var(--border);
    margin-top: 1rem;
  }
  #download p {
    width: auto;
  }
}