footer {
  background-color: var(--bg-dark);
  color: var(--text-light);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 9.5rem;
  overflow: hidden;
}

footer > div {
  padding: 1rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 2048px;
}

footer * {
  z-index: 2;
}

footer .center-circle {
  position: absolute;
  border-radius: 1000rem;
  border-color: #191e2a;
  border-width: 5rem;
  border-style: solid;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 85%);
  padding: 20rem;
  z-index: 1;
}

footer ul {
  display: flex;
  gap: 1.5rem;
  color: var(--border);
}

footer li a {
  color: var(--bg-primary);
  font-weight: 500;
  font-size: 0.9rem;
}

footer p {
  font-size: 0.9rem;
  color: var(--text-light-secondary);
}

footer hr {
  display: none;
}

@media (max-width: 64rem) {
  footer > div {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 2rem;
  }
  footer ul {
    flex-direction: column;
    gap: 1rem;
  }
  footer ul .separator {
    display: none;
  }
  footer hr {
    display: block;
    height: 0.1rem;
    width: 40%;
    background-color: var(--border);
  }
  footer .center-circle {
    display: none;
  }
}