#how-it-works {
  background-color: var(--bg-dark);
  color: var(--text-light);

  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#how-it-works h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: var(--bg-primary);
}

#how-it-works h2 {
  font-size: 2.5rem;
}

#how-it-works p {
  width: 60%;
  font-size: 1.2rem;
  text-align: center;
  color: var(--text-light-secondary);
  margin-bottom: 2rem;
}

#how-it-works ol {
  margin: 4rem 0;
  display: flex;
  gap: 5rem;
}

#how-it-works ol li {
  position: relative;
  width: 16rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#how-it-works ol li .badge {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 1000rem;
  border: 0.4rem solid var(--bg-dark);
  background-color: var(--bg-primary);
  height: 3.4rem;
  width: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#how-it-works ol li figure {
  background-color: var(--bg-light);
  overflow: hidden;
  border-radius: 1rem;
  height: 12.5rem;
  width: 12.5rem;
}
#how-it-works ol li span:nth-of-type(2) {
  font-size: 1.2rem;
  text-align: center;
}