@font-face {
  font-family: PlusJakartaSans;
  src: url(../font/PlusJakartaSans-VariableFont_wght.ttf);
}

html {
  background-color: black;
}

* {
  font-family: PlusJakartaSans, sans-serif;
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}

button {
  background-color: transparent;
}

.btn-primary, .btn-secondary {
  border-radius: 1000rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: 100ms filter linear;
}

.btn-primary:hover, .btn-secondary:hover {
  filter: brightness(80%);
}

.btn-primary {
  background-color: #3d81db;
}

.btn-secondary {
  background-color: #1a202c;
}