@font-face {
  font-family: PlusJakartaSans;
  src: url(../font/PlusJakartaSans-VariableFont_wght.ttf);
}

:root {
  --bg-dark: #0d121f;
  --bg-light: #ffffff;
  --bg-primary: #3d81db;
  --bg-secondary: #1a202c;
  --border: #343843;
  --text-dark: #040815;
  --text-dark-secondary: #959eae;
  --text-light: #ffffff;
  --text-light-secondary: #90a3bf;
}

html {
  background-color: black;
}

* {
  font-family: PlusJakartaSans, sans-serif;
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}

button {
  background-color: transparent;
}

.btn-primary, .btn-secondary {
  border-radius: 1000rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: 100ms filter linear;
  color: var(--text-light);
  font-weight: 600;
}

.btn-primary:hover, .btn-secondary:hover {
  filter: brightness(80%);
}

.btn-primary {
  background-color: var(--bg-primary);
}

.btn-secondary {
  background-color: var(--bg-secondary);
}

.button-group {
  display: flex;
  gap: 1.5rem;
}